.cards {
    border: 10px solid green;
    width: 90%;
    margin: 0 auto;
    padding: 2% 0;
}

.cardsContainer {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alignement horizontal vers le début */
    align-items: flex-start; /* Alignement vertical vers le début */
}

.singleCard {
    width: calc(100% / 4);
    border-radius: 10px;
    background-color: rgb(205, 0, 250);
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}
.singleCard:hover {
    background-color: rgb(254, 202, 106);
    box-shadow: 0 2px 2px var(--inputColor);
}

img {
    max-width: 100%;
}

.buttonContainer {
    flex-direction: column;
}

.cardBtn {
    padding: 0.8rem;
    background: transparent;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 800;
    align-items: center;
    margin: auto;
    justify-content: center;
    font-size: 0.8rem;
    width: max-content;
    gap: 1rem;
    transition: 0.3s ease;
    padding: 0.8rem 1.5rem;
    margin-bottom: 0.5rem;
}

.cardBtn:hover {
    background: white;
    color: rgb(226, 184, 0);
}

/* =============== Media Queries ====================*/

@media screen and (max-width: 768px) {
    .cardBtn {
        width: 70%;
        font-size: 8px;
        padding: 4%;
    }
}
