/* .header-nav nav {
    text-align: left;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
}

.header-nav nav .list1,
.header-nav nav .list2 {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav nav .list1 icons {
    width: 20%;
}

.logo-container {
    width: 200px;
}

.header-nav nav .list1 a,
.header-nav nav .list2 a {
    text-decoration: none;
    font-family: "Fjalla One", cursive;
    color: black;
    font-size: 18px;
    padding: 15px;
}
.header-nav .header-pict {
    text-align: center;
    padding: 180px 0 80px 0;
     background-image: url(assets/cook.jpg);
    text-shadow: 0 2px 0 black, 0 -2px 0 black;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */
