.dashboard {
    height: 100vh;
    width: 90%;
    background-color: red;
    justify-content: center;
    margin: auto;

    .dashboardContainer {
        height: 100vh;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        background-color: var(--inputColor);
    }
}

// RESPONSIVE
@media screen and (max-width: 500px) {
    .heading {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

@media screan and (max-width: 918px) {
    .heading {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}
@media screan and (max-width: 990px) {
    .heading {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}
