.footer {
    background: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.footerTitleContainer {
    border: 3px solid blue;
    width: 100%;
    display: flex;
    align-items: center;
}

.footerTitle {
    color: #fff;
    width: 20%;
}

.containerIcons {
    justify-content: space-evenly;
}

.iconItem {
    width: 8%;
}

.footer-section {
    display: flex;
    gap: 10%;
    border: 3px solid red;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer h2 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer li {
    margin: 5px 0;
    font-size: 1rem;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}

.containerFooterMenu {
    width: 100%;
    display: flex;
    gap: 10%;
}
