.formContainer {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formHeader {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.formTitle {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
}

.input {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.errorMsg,
.successMsg {
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}
.btnContainer {
  text-align: center;
}

.errorMsg {
  background-color: #ffcccc;
  color: #ff0000;
}

.successMsg {
  background-color: #ccffcc;
  color: #009900;
}
.formButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the Save Modification button */
.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles for the error state of the Save Modification button */
.submit-button-error {
  background-color: #ff0000;
}

/* Styles for the success state of the Save Modification button */
.submit-button-success {
  background-color: #009900;
}

/*MEDIA QUERIES*/

/* Pour les écrans de 768px et plus */
@media screen and (min-width: 768px) {
  /* Vos styles CSS pour les écrans de 768px et plus vont ici */
  /* Par exemple : */
  body {
    font-size: 16px;
  }
}

/* Pour les écrans de 1080px et plus */
@media screen and (min-width: 1080px) {
  /* Vos styles CSS pour les écrans de 1080px et plus vont ici */
  /* Par exemple : */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
