.loginPage,
.registerPage {
    background-color: rgba(246, 231, 203, 0.846);
    width: 80%;
    margin: 0 auto;
    .hheader {
        text-align: center;
        padding: 1rem 0;
        border: 3px solid blue;

        img-container {
            width: 60px;
            padding-bottom: 0.5rem;
        }

        h3 {
            font-size: 25px;
            color: var(--blackColor);
            font-weight: 600;
        }
    }
    .formContainer {
        .logForm {
            border: 3px solid;
            flex-basis: 50%;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 1.5;
            /* transform: translateY(-1rem); */
        }

        .showMessage {
            display: block;
            color: var(--whiteColor);
            background-color: red;
            border-radius: 3px;
            text-align: center;
        }

        .icon {
            color: var(--greyText);
        }

        label {
            color: var(--blackColor);
            font-weight: 400;
            font-size: 14px;
            padding: 0.5rem 0;
            display: block;
        }

        input {
            gap: 0.5rem;
            padding: 1rem;
            background-color: var(--inputColor);
            border-radius: 10px;
            outline: none;
            border: none;
            width: 200px;
        }

        /* .btn {
            padding: 0.8rem;
            background: whitesmoke;
            border-radius: 10px;
            color: var(--whiteColor);
            align-items: center;
            margin: auto;
            justify-content: center;
            font-size: 1rem;
            width: 100%;
            gap: 0.5rem;
            transition: 0.3s ease;
            padding: 0.8rem 1.5rem;
            font-weight: 400;
            &:hover {
                border: 2px solid red;
                background: var(--hoverColor);
                color: var(--blackColor);
            }
        } */

        /*         .icon {
            font-size: 25px;
            transition: 0.3s ease; */

        /*             &:hover {
                background: var(--hoverColor);
                color: var(--blackColor);

                icon {
                    color: var(--blackColor);
                    transition: translateX(5px);
                } */
    }
}
.login-linkContainer {
    background-color: pink;
    border: 3px solid yellow;
    text-align: center;

    .forgotPassword {
        font-size: 13px;
        color: var(--blackColor);
        opacity: 0.7;
        text-align: center;

        a {
            text-decoration: underline;
            cursor: pointer;
            opacity: 1;
        }
    }
}

.loginFooter {
    bottom: 10px;
    padding: 0 1rem;
    height: 20%;
    background-color: rgb(207, 135, 3);
    left: 10px;
    right: 0;
    justify-content: space-beetween;
    backdrop-filter: blur(1px);

    .text {
        color: var(--whiteColor);
    }
}
