.navMenuDiv {
    text-align: left;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.menuList {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftMenu,
.rightMenu {
    background-color: #090125;
}

.centerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.closeNav {
    display: none;
}

/*test
.menuDiv {
}*/

.menuIcon {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: large;
}
.logo-container {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 10px;
}

.navLink {
    text-decoration: none;
    /* font-family: ; */
    border: 3px solid transparent;
    color: white;
    font-size: 15px;
    padding: 0.5rem;
    text-align: center;
}

.navLink:hover {
    border: 3px solid white;
    color: white;
    border-radius: 10px;
}

.navIcon {
    display: none;
}

/* FONCTIONNE PAS */
/* .navItem:hover {
    border-bottom: 3px solid white;
    color: white;
} */

/*=============== MEDIA QUERIES ================*/

@media screen and (max-width: 768px) {
    .leftMenu,
    .rightMenu {
        flex-direction: column;
        position: absolute;

        left: 50%;

        height: max-content;

        width: 80%;
        padding: 1rem 0rem;
        transform: translate(-50%);
        transition: 0.3s ease;
        z-index: 3000;
    }
    .navMenuDiv {
        justify-content: center;
    }

    .leftMenu {
        top: 100%;
        padding-top: 1rem;
    }

    .rightMenu {
        top: 203%;
        padding-bottom: 1rem;
    }

    .logoNav {
        display: none; /* display none la balise est toujour dans le dom mais ça masque */
        /* visibility: hidden;*/ /*sa balise n'est pas suupprimé ça laisse un trou a la place a l'ecran*/
    }

    .centerMenu {
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
    }

    .link {
        font-size: 15px;
        font-weight: 600;
    }

    .link:hover {
        color: white;
    }

    .closeNav {
        display: block;
        color: white;
        position: absolute;
        font-size: 25px;

        /*A CORRIGER*/
        top: 10%;
        left: 94%;
    }
    .closeNav:hover {
        color: white;
    }

    .navIcon {
        display: flex;
        font-size: 25px;
        margin-right: 50px;
        color: white;
    }

    .activeNav {
        top: 6rem;
    }

    .closedNav {
        display: none;
    }

    .navLink:hover {
        border: 0px;
    }
}
