:root {
    /* //colors */
    --primaryColor: hsl(94, 55%, 56%);
    --hoverColor: hsl(93, 75%, 76%);
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --greyText: hsl(0, 0%, 75%);
    --bgColor: hsl(113, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);

    /* //font and typo */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
}

.listingSection {
    flex-basis: 70%;
    padding: 10px;

    .linstingHeading {
        width: 100%;
        justify-content: space-between;

        .listingTitle {
            font-size: var(--h2FontSize);
            font-weight: 700;
            color: black;
        }
    }

    .secContainer {
        width: 100%;
        margin: 1rem 0;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .singleItem {
        position: relative;
        width: 200px;
        height: 200px;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        background-color: rgb(96, 11, 11);
        overflow: hidden;

        &:hover {
            background-color: rgb(254, 202, 106);
            box-shadow: 0 2px 2px var(--inputColor);
        }

        img {
            max-width: 100%;
        }

        .icon {
            position: absolute;
            top: 80%;
            right: 10%;

            color: var(--primaryColor);
            font-size: 30px;
        }

        h3 {
            font-size: var(--h3FontSize);
            color: var(--whiteColor);
            padding: 1rem;
            text-align: center;
        }
    }

    .sellers {
        width: 100%;
        justify-content: space-between;
        gap: 1rem;
        align-items: flex-start;

        .topSellers,
        .featuredSellers {
            .heading {
                padding: 1rem 0;

                .btn {
                    padding: 0.5rem 1rem;
                }
            }

            .card {
                padding: 1rem;
                border-radius: 1rem;
                background: var(--whiteColor);
                gap: 1rem;
                box-shadow: 0 2px 2px var(--inputColor);

                .users {
                    padding-right: 1rem;
                    border-right: 2px solid var(--greyText);

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 2px solid var(--inputColor);
                        transition: 0.5s ease;

                        &:hover {
                            transform: translateY(-10px);
                        }
                    }
                }
            }
        }
    }
}

//===============MEDIAQUERIES=============

@media screen and (max-width: 990px) {
    .listingSection {
        .sellers {
            .card {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 918px) {
    .listingSection {
        .singleItem {
            width: 80%;
            height: 100%;
            .card {
                width: 200px !important;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .listingSection {
        width: 100%;

        .heading {
            display: flex;
            flex-direction: column;
        }
        .secContainer {
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 490px) {
}
